<header class="pt-200 header_2">

    <!-- Header Menu 2 -->

    <nav id="nav-bar" class="nav-transparent header_menu_2 transparent pb-30 mobhide">
      <div class="container px-xl-0">
        <div class="row justify-content-between align-items-baseline">
          <div class="col-md-2" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
            <div class="souqbox-logo"><img src="../../assets/images/Souqbox-Logo.png" alt="logo" /></div>
          </div>
          <div class="col-md-7 d-flex justify-content-end align-items-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
          <a routerLink="/About" class="link color-white f-18 mx-15"  routerLinkActive="active-link" >ABOUT US</a>
          <a  routerLink="/Howitworks" class="link color-white f-18 mx-15" routerLinkActive="active-link">HOW IT WORKS</a>
          <a routerLink="/Casestudies" class="link color-white f-18 mx-15" routerLinkActive="active-link">CASE STUDIES</a>
          <a routerLink="/News" class="link color-white f-18 mx-15" routerLinkActive="active-link">NEWS</a>
          <a routerLink="/Contact" class="link color-white f-18 mx-15"routerLinkActive="active-link" >CONTACT</a> </div>
                    <div class="col-md-3 d-flex justify-content-end align-items-center" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
                    <a routerLink="/Contact" class="link color-white f-18 mx-15" >SIGN UP </a>
                    <a routerLink="/Contact" class="link color-white f-18 mx-15" >LOGIN</a>
            </div>
        </div>
      </div>
    </nav>

  </header>
