<footer class="footer dark-grey pt-50 pb-30 text-center">
  <div class="container px-xl-0">
    <div class="row">
      <div class="col-lg-3 col-sm-4">
        <div class="footer-link-menu">
          <h4>JOIN SOUQBOX</h4>
          <ul>
            <li><a href="/Contact">Partnership Opportunities</a></li>
            <li><a href="/Contact">Join the team</a></li>
            <li><a routerLink="/Enterprise">Enterprise Solutions</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <div class="footer-link-menu">
          <h4>IMPORTANT OF NOTE</h4>
          <ul>
            <li>Terms and Conditions</li>
            <li><a routerLink="/Privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="footer-link-menu">
          <h4>About Us</h4>
          <ul>
            <li><a routerLink="/Our-story">Our Story</a></li>
            <li><a href="/Contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
      <a href="/Contact">
<button type="submit" class="request-demo ">REQUEST A DEMO</button> </a>
        <div class="copy-rights pt-20">
          <p class="center">© SOUQBOX 2019 ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </div>
  </div>
</footer>
