<a class="open_menu color-main bg-light radius_full"><i class="fas fa-bars lh-40"></i></a>
<div class="navigation_mobile bg-light type2"> <a class="close_menu color-main"><i class="fas fa-times"></i></a>
  <div class="px-40 pt-60 pb-60 text-center inner">
    <div><a routerLink="/About" class="f-heading f-22 link color-main mb-20" >ABOUT US</a></div>
    <div><a routerLink="/Howitworks" class="f-heading f-22 link color-main mb-20" >HOW IT WORKS</a></div>
    <div><a routerLink="/Casestudies" class="f-heading f-22 link color-main mb-20">CASE STUDIES</a></div>
    <div>  <a routerLink="/News" class="f-heading f-22 link color-main mb-20">NEWS</a></div>
    <div><a routerLink="/Contact" class="f-heading f-22 link color-main mb-20">CONTACT</a></div>
    <div>  <a routerLink="/Contact" class="f-heading f-22 link color-main mb-20">SIGNUP</a></div>
    <div><a routerLink="/Contact" class="f-heading f-22 link color-main mb-20">LOGIN</a></div>
    </div>
</div>
