<section class="banner pb-100">
<div class="container">
<h1 class="big color-white text-left mw-800">{{casestudies.title}}</h1>
</div>
</section>
<section class="customers dark-grey pt-80 pb-150" id="n2s">
<div class="container px-xl-0">
<div class="row">

<div class="col-lg-4 mb-30"><img src="../../assets/images/{{casestudies.n2s}}" class="img-fluid  client-three" />
</div>
<div class="col-lg-8 mb-30">
<p class="text-left color-white f-24">{{casestudies.n2stesti}}</p>
<h6 class="text-right cyen-color f-22 regular font-italic">{{casestudies.client}}</h6>
</div>
<div class="col-lg-12 pt-30 mb-30">
<h2 class="text-left cyen-color f-30">{{casestudies.challenge}}</h2>
<p class="text-left color-white f-20">{{casestudies.des1}}</p>
</div>

<div class="col-lg-12">
<h2 class="text-left cyen-color f-30">{{casestudies.solution}}</h2>
<p class="text-left color-white f-20">{{casestudies.des2}}</p>
<p class="text-left color-white f-20">{{casestudies.des3}}</p>
</div>
<div class="col-lg-6 pt-100">
   <img src="../../assets/images/n2sstudy.png" class="img-fluid n2sstudy">
 </div>
 <div class="col-lg-6 pt-100">
     <img src="../../assets/images/n2sstudy1.png" class="img-fluid n2sstudy">
   </div>
</div>
</div>
</section>
<section class="orange-bg pt-80 pb-80" id="riskpal" >
<!--
<div class="col-lg-12"><div class="case-studies-logo"><div style="height:100px; width:300px;"></div></div>
</div> -->
<div class="container px-xl-0">
<div class="row">

<div class="col-lg-4 mb-30"><img src="../../assets/images/{{casestudies.riskpal}}" alt="image" class="img-fluid  client-three" />
</div>
<div class="col-lg-8 mb-30">
<p class="text-left color-white f-24">“{{casestudies.risktesti}}“</p>
<h6 class="text-right cyen-color f-22 regular font-italic">{{casestudies.clientthree}}</h6>
</div>
<div class="col-lg-12 pt-30 mb-30">
<h2 class="text-left cyen-color f-30">{{casestudies.challenge}}</h2>
<p class="text-left color-white f-20">{{casestudies.content1}}</p>
</div>

<div class="col-lg-12">
<h2 class="text-left cyen-color f-30">{{casestudies.solution}}</h2>
<p class="text-left color-white f-20">{{casestudies.content2}}</p>
</div>
<div class="col-lg-6 pt-100">
   <img src="../../assets/images/riskstudy.png" class="img-fluid n2sstudy">
 </div>
 <div class="col-lg-6 pt-100">
     <img src="../../assets/images/riskstudy2.png" class="img-fluid n2sstudy">
   </div>
<div class="col-lg-12 pt-50 pb-100">
 <img src="../../assets/images/riskstudy1.png" class="img-fluid riskstudy">
</div>
</div>
</div>
</section>


<section class="customers dark-grey pt-80 pb-150" id="its">

  <!-- <div class="col-lg-12"><div class="case-studies-logo">
    <img src="../../assets/images/{{casestudies.wine}}" alt="img" />
  </div>
  </div> -->
  <div class="container px-xl-0">
  <div class="row" id="its">

  <div class="col-lg-4 mb-30"><img src="../../assets/images/{{casestudies.its}}" class="img-fluid  client-three" />
  </div>
  <div class="col-lg-8 mb-30">

  <p class="text-left color-white f-24">“{{casestudies.itstesti}}“</p>
  <h6 class="text-right cyen-color f-22 regular font-italic">{{casestudies.clientfour}}</h6>
  </div>
  <div class="col-lg-12 pt-30 mb-30">
  <h2 class="text-left cyen-color f-30">{{casestudies.challenge}}</h2>
  <p class="text-left color-white f-20">{{casestudies.itscontent1}}</p>
  </div>

  <div class="col-lg-12">
  <h2 class="text-left cyen-color f-30">{{casestudies.solution}}</h2>
  <p class="text-left color-white f-20">{{casestudies.itscontent2}}</p>

  </div>

  </div>
  </div>
  </section>
