<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading"><h3>RESEARCH NAMES NEWBURY TOP TECH TOWN IN THE UK</h3></div>
      <img src="../../assets/images/Newbury.png" alt="image" class="img-fluid news-single-img" />
      <div class="news-button-main">
      <a routerLink="/Why-the-b2b">
          <button class="news-buttons left">
          <img src="../../assets/images/slick-arrow-left.svg" width="10" alt="icon" />
           Previous
           </button></a>
           <a routerLink="/Startupcto-opportunity-at-souqbox">
          <button id="Buttons" class="news-buttons">
          Next <img src="../../assets/images/slick-arrow-right.svg" width="10" alt="icon" />
          </button></a>
        </div>
      </div>
</div>
</section>
<section class="news-section dark-grey pt-20 pb-150">

   <div class="container px-xl-0">
<h3 class="business-tuned"></h3>
</div>
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-80">
      <p class="text-left color-white f-18">Souqbox founder Campbell Murray was on air at
      <a href="https://www.bbc.co.uk/programmes/p065zd6t#play/" target="_blank">BBC Berkshire </a>(22 May 2018) interviewed by Phil Kennedy about the <a href="https://www.independent.co.uk/news/business/news/tech-workers-newbury-growth-vodafone-skilled-startups-a8356621.html/" target="_blank"> recent publication </a> of the UK Tech scene which named Newbury Top Tech Town in the UK.  Play from 12mins 10 seconds in if you want to hear the interview with Campbell about the emerging tech scene in Newbury – home of <a href="https://souqbox.co/souqbox-our-story/" target="_blank">SouqBox the B2B marketplace platform</a>.</p>
       <p class="text-left color-white f-18">The research from <a href="https://technation.io/" target="_blank"> Tech Nation </a> aims to track the strength, depth and breadth of digital tech activity throughout the UK, found that Newbury has a digital tech skills density that is around 15 times higher than the UK average well ahead of more recognised larger towns and cities also building up skilled workforces to nurture new startups and tech companies such as Reading, Swindon and Bristol.</p>
      </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">NEWBURY LEADS THE EMERGENCE OF DIGITAL SUBURBS</h2>
      <p class="text-left color-white f-18">The report also reveals the rise of ‘digital suburbs’ and tech towns across the UK where the digital tech sector is growing in urban areas outside London.</p>
        <p class="text-left color-white f-18"><strong>“These clusters are attracting more digital tech businesses, which is important for local economies given that the digital tech sector is growing 2.6 times faster than the UK economy.”</strong></p>
      <p class="text-left color-white f-18">The Tech Nation report shows the UK’s digital tech sector is accelerating faster than the rest of the economy.</p>
  <p class="text-left color-white f-18">In fact, the sector’s growth from a £170bn industry in 2016 to £184bn quoted in the current report shows that it’s expanding two-and-a-half times faster than the rest of the UK’s economy.</p>
 <p class="text-left color-white f-18">It also revealed the digital tech sector’s workforce is both older, and more ethnically diverse, than the average UK workplace.</p>
  <p class="text-left color-white f-18">Newbury is the base for Souqbox, so we were delighted to see we are amongst good company!</p>
   </div>
    </div>
  </div>
</section>

