<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading"><h3>How You Can Join the B2B Digital Revolution</h3></div>
      <img src="../../assets/images/Revolution.png" alt="image" class="img-fluid news-single-img" />
      <div class="news-button-main">
           <a routerLink="/B2b-marketplace-opportunities">
          <button id="Buttons" class="news-buttons">
          Next <img src="../../assets/images/slick-arrow-right.svg" width="10" alt="icon" />
          </button></a>
        </div>
      </div>
</div>
</section>
<section class="news-section dark-grey pt-20 pb-150">

   <div class="container px-xl-0">
    <p class="text-left color-white f-18">(def – Revolution ‘A dramatic and wide-reaching change in conditions, attitudes, or operation’)</p>
</div>
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-10">
      <p class="text-left color-white f-18">Are you ready to elevate your brand to the next level? If you’re already running a successful business trading B2B products offline and want to take advantage of the benefits offered by doing business online, establishing a marketplace can help.</p>
        </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Digital Marketplaces Set to Dominate Online Sales</h2>
      <p class="text-left color-white f-18">If you mentioned you were starting a digital marketplace to most of your friends and colleagues you’d probably get a mixed reaction and a few puzzled looks.  However, if you said you were planning to launch your industry’s version of Amazon, Etsy, Airbnb, or Uber you’d get a whole different response! All these major global B2C brands are based on marketplace platforms and each dominates within its own niche market.</p>
      </div>
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Emerging Trends for B2B Trading</h2>
      <p class="text-left color-white f-18">In the B2B world, there are fewer well-known examples but equivalents such as Alibaba and IndiaMart are riding this emerging trend where new rules are written about the role of online markets for B2B trading. Their hyper growth shows the B2B market’s appetite to transact through digital marketplaces.</p>
     <p class="text-left color-white f-18">There are good examples of B2B online trading and these tend to be the ‘near retail’ models eg Screwfix who offer a catalogue alongside in-store offering. This model doesn’t always apply especially if you are involved in recovered, refurbished or 2nd hand assets that are more price volatile. Take for eg an office furniture company that supply 300 new desks to an investment bank HQ project. They remove the old furniture as part of the deal and then seek to dispose of this. They might sell to smaller furniture shops or even online traders who sell to consumers on eBay. We would expect the price to be highly negotiable in this instance and a traditional e-commerce site doesn’t enable the buyer to make an offer only add to basket.</p>

      </div>
  <div class="col-lg-12">
  <h2 class="text-left cyen-color f-26">Future Growth of the Circular Economy</h2>
  <p class="text-left color-white f-18">There is much speculation about the future growth of this circular economy type business model but the truth is that these are largely offline businesses. The reason for this might be that the buyers wanted to physically see the product and that will remain a factor in many sectors. But it may also be the case that the specialist needs for a trade like this to happen online require a different approach from traditional e-commerce models.</p>
<p class="text-left color-white f-18">The omnichannel requirements appear to be very real – typical buyer behaviour sees a link between the value of the goods being bought, the risk of subjectivity in describing its working condition, location and the effort the buyer will exert to mitigate these. Online markets are a great way to reach a dispersed specialised buyer audience and allow a deal to be done remotely. If a marketplace has the right T&Cs around the trade agreement, the buyer can be protected in the process.</p>

   </div>
   <div class="col-lg-12">
  <h2 class="text-left cyen-color f-26">Benefits of the “Honest Broker” Payments Model</h2>
  <p class="text-left color-white f-18">Another major factor in this emerging sector that needs to be addressed is the payments model. Most larger companies require a credit check to be done before any goods will be shipped and in a 1 off transaction marketplace, this is a barrier to concluding a sale. If the marketplace acts as the ‘honest broker’ and holds the buyers’ money (for eg in escrow) the seller can have a single relationship with the marketplace and release goods when the marketplace informs them they have received payment. We have seen many examples in the B2C sector especially in Airbnb & JustEat where the marketplace has increasingly found themselves to be the arbitrator in disputes and in turn have fine-tuned the rules of the marketplace to incentivize the right user behaviour.</p>
   </div>
   <div class="container b2b-form">
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">The Essential Difference in B2B Trading</h2>
       <p class="text-left  f-18">The B2B economy differs from B2C because everything is price negotiable. This means for a marketplace to work, it must be an offer based trading platform, and that is exactly what the Souqbox platform has been designed to do right from day 1 and why we can offer a leading solution for businesses looking to launch their own marketplace.</p>
<p><strong>Why Now?</strong></p>
<ul>
<li><strong>Businesses follow Consumer trends</strong>&nbsp;– we all use B2C and C2C marketplaces such as eBay, Gumtree and Shpock. Business leaders now have grown up with marketplaces online &amp; expect to have similar B2B trading platforms. They understand and trust online trading.</li>
<li><strong>Value leakage no more!</strong>&nbsp;– many companies have woken up to the opportunity to generate cash from their excess inventory, rather than paying a broker to take it away. The effort to reward ratio works in a marketplace. The tightening fiscal cycle and raw material inflation also drive value recovery behaviour.</li>
<li><strong>CSR</strong>&nbsp;– it’s just unacceptable to throw perfectly good stuff away &amp; to pay landfill taxes. Taking CSR seriously requires companies to find a home for unwanted assets. This isn’t just a moral high ground but drives long-term brand and shareholder impact for companies that make this real every day.</li>
</ul>
      </div> </div>
      <div class="col-lg-12">
  <h2 class="text-left cyen-color f-26">Join the Revolution – and Dominate Your Market</h2>
  <p class="text-left color-white f-18">We believe we are on the cusp of a new generation of specialist B2B marketplaces as business buyers need specialist service and the ability to negotiate. SouqBox is powering that revolution and it has already started. This is especially relevant for circular economy models where price is more elastic and in our previous article we identified the <a routerLink="/B2b-marketplace-opportunities" target="_blank">top 10 industries perfect for marketplace platform opportunities.</a></p>
<p class="text-left color-white f-18">f your industry needs an online marketplace, or you are interested in circular economy trading, we’d be interested in talking to you.<a href="http://souqbox.net/" target="_blank"> Please drop us a line here. </a></p>
   </div>
    </div>
  </div>
</section>

