<section>
<div class="container">
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8 signin mb-80">
<div class="col-lg-12 text-center f-80 oranges mt-35">
    <i class="fas fa-{{login.icon}}"></i>
</div>
<h2 class="text-center f-26 oranges mt-15">{{login.heading}}</h2>
<form class="mt-35">
<div class="row email">
<div class="col-lg-1"></div>
<div class="col-lg-10">
<div class="form-group">
<input type="text" class="form-control register" name="emailid"  placeholder="Enter Your registered email id" >
</div>
</div>
<div class="col-lg-1"></div>
</div>
<div class="row email">
<div class="col-lg-1"></div>
<div class="col-lg-10">
<div class="form-group">
<input type="password" class="form-control register" name="password"  placeholder="Enter password">
<i class="far fa-{{login.icon1}} view"></i>
</div>
</div>
<div class="col-lg-1"></div>
</div>




<div class="row mt-40 mb-40">
<div class="col-lg-1"></div>
<div class="col-lg-5 pb-20">
<a routerLink="#" class="text-center oranges">{{login.password}}</a>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
<button type="submit" class="user-new">{{login.sign}}</button>
</div>
<div class="col-lg-1"></div>
</div>


<div class="row">
<div class="col-lg-12 user">
<div class="col-lg-1"></div>
<hr class="col-lg-3 space">
<div class="col-lg-4 text-center">
<span class="oranges">{{login.user}}</span>
</div>
<hr class="col-lg-3 space">
<div class="col-lg-1"></div>
</div>
</div>

<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4">
<button type="submit" class="signbtn user-new">{{login.signup}}</button>
</div>
<div class="col-lg-4"></div>
</div>
</form>

</div>

<div class="col-lg-2"></div>
</div>
</div>
</section>
