<section class="banner pb-100">
   <div class="container">
   <h1 class="big color-white text-left mw-800">{{its.title}}</h1>
   </div>
   </section>
   <section class="customers dark-grey pt-80 pb-150">


   <div class="container px-xl-0">
   <div class="row">

   <div class="col-lg-4 mb-30"><img src="../../assets/images/{{its.img}}" class="img-fluid  client-three" />
   </div>
   <div class="col-lg-8 mb-30">

   <p class="text-left color-white f-24">“{{its.itstesti}}“</p>
<h6 class="text-right cyen-color f-22 regular font-italic">{{its.clientfour}}</h6>
   </div>
   <div class="col-lg-12 pt-30 mb-30">
   <h2 class="text-left cyen-color f-30">{{its.challenge}}</h2>
   <p class="text-left color-white f-20">{{its.itscontent1}}</p>
   </div>

   <div class="col-lg-12">
   <h2 class="text-left cyen-color f-30">{{its.solution}}</h2>
   <p class="text-left color-white f-20">{{its.itscontent2}}</p>

   </div>
   </div>
   </div>
   </section>
