<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading"><h3>Why the B2B Online Marketplace is the Future</h3></div>
      <img src="../../assets/images/Why-B2B.png" alt="image" class="img-fluid news-single-img" />
      <div class="news-button-main">
           <a routerLink="/B2b-marketplace-opportunities">
          <button class="news-buttons left">
          <img src="../../assets/images/slick-arrow-left.svg" width="10" alt="icon" />
           Previous
           </button></a>
           <a routerLink="/Newbury-top-tech-town-uk">
          <button id="Buttons" class="news-buttons">
          Next <img src="../../assets/images/slick-arrow-right.svg" width="10" alt="icon" />
          </button></a>
        </div>
      </div>
</div>
</section>

<section class="news-section dark-grey pt-20 pb-150">
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-50">
      <p class="text-left color-white f-18">There are 4 recognised evolutionary steps in e-commerce. Many organisations still have generation 1 sites which are pure information sites and any purchasing must fall back to email/phone calls to complete. Consumer-facing websites rarely survive this way and have largely evolved through the use of basket type technology (think Shopify plugin) and this enables orders to be taken on the web</p>
       <p class="text-left color-white f-18">Amazon has been the global leader for some time on pushing the envelope on e-commerce. Their sophisticated supply chain and customer account integration enabled Amazon to build a marketplace behind their own core offering. By 2016 over half of Amazon’s revenue came from partner sellers – that means Amazon didn’t have to tie up its balance sheet on inventory in order to offer a vast consumer range. Smart move.</p>
      </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">The Essential Ingredient For Any B2B Online Marketplace</h2>
      <p class="text-left color-white f-18">At SouqBox we think the 4th generation sites will be an extension of this online marketplace principle with one very important distinction required for the B2B sector – the ability to negotiate. Even Amazon doesn’t have a facility to enable offers to be placed – the price is set by the seller and in the consumer world, this is the right model. However, in the B2B sector, everything is negotiable. That’s exactly why we built our platform to enable trading through negotiation within the structure of your B2B Online Marketplace.</p>
      <p class="text-left color-white f-18">If you have a traditional trading business offline and want to take it online, then we would love to talk to you. Perhaps you will be the main seller on the site like Amazon is on its own site, but ideally, you should have the ambition to have the greatest range of produce on your market and that is best achieved by building your own B2B online marketplace within your business niche.</p>
     </div>
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Find out if your B2B online Marketplace Idea will Fly!</h2>
      <p class="text-left color-white f-18">If you are interested in discussing your B2B online marketplace we’d be happy to chat through your concept and even undertake a <a href="https://souqbox.co/souqbox-request-a-demo/" target="_blank">complimentary idea validation and number crunching </a> exercise click here for details.</p>
     <p class="text-left color-white f-18">You might also like to read through the 10 business sectors we believe are currently perfect for <a routerLink="/B2b-marketplace-opportunities"> B2B online marketplace opportunities. </a></p>
      </div>
  <div class="container b2b-form">
  <h2 class="text-left cyen-color f-26">Will it be You?</h2>
  <p class="text-left color-gray f-18">As there is a strong network effect at play, we think in each vertical segment there may only be room for 1 marketplace to succeed to scale. The question is will it be you?</p>
<p class="text-left color-gray f-18">Most companies we speak to are asking themselves 3 questions –</p>
<ol>
<li>Is my industry niche likely to go significantly online?</li>
<li>If it is, am I going to be a leader or&nbsp;follower?</li>
<li>If I want to lead, should I build the tech myself or launch on a platform like SouqBox?</li>
</ol>
<p class="text-left color-gray f-18">Sound familiar? These were the big questions being asked back in the first dot.com bubble and many bricks and mortar retailers evolved their models to have both retail and online. However, the lack of investment and focus in online allowed many online-only specialists to grab significant market share and in some cases become the market leader. Airbnb now sells more rooms per night than any hotel organisation on the planet. Uber handles more car journeys than the next 50 taxi companies combined in the USA and accounts for over 50% of the taxi drivers employed in the USA.</p>
  </div>
 <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">B2B Leapfrog?</h2>
      <p class="text-left color-white f-18">The need for a marketplace to handle the negotiation could actually be the ‘killer app’ that enables B2B trading to go online and in many respects, this will be a leapfrog over the traditional B2C journey of e-commerce. This straight to marketplace model is particularly significant for trading companies in the circular economy. Here the critical, mass factor kicks in – critical mass of sellers will result in the buyers returning as that’s the best place to find the deals they want. This critical mass of buyers will, in turn, drive sticky adoption for sellers and if the marketplace operates the right trading rules,there may not be much need <br />  for a number 2.</p>
     <p class="text-left color-white f-18">We have seen this network effect in social media – not long ago there were many social networks (remember myspace, Bebo, school reunion et al?) now its just facebook in the same sector. Given the hyperlocal nature of most B2B offline models, it is likely that the marketplace model will see a dominant leader with over 50% market share in each region.</p>
      </div>
   <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Book Your SouqBox Demo</h2>
      <p class="text-left color-white f-18">If your industry needs an online marketplace, or you are interested in circular economy trading, we’d be interested in talking to you. Please drop us a line<a href="http://souqbox.net/" target="_blank"> here</a></p>
     </div>
    </div>
  </div>
</section>

