<section class="banner pb-100">
   <div class="container">
   <h1 class="big color-white text-left mw-800">{{riskpal.title}}</h1>
   </div>
   </section>
   <section class="customers dark-grey pt-80 pb-150">
   <div class="container px-xl-0">
   <div class="row">

   <div class="col-lg-4 mb-30"><img src="../../assets/images/{{riskpal.img}}" alt="image" class="img-fluid  client-three" />
   </div>
   <div class="col-lg-8 mb-30">

   <p class="text-left color-white f-24">“{{riskpal.risktesti}}“</p>
<h6 class="text-right cyen-color f-22 regular font-italic">{{riskpal.clientthree}}</h6>
   </div>
   <div class="col-lg-12 pt-30 mb-30">
   <h2 class="text-left cyen-color f-30">{{riskpal.challenge}}</h2>
   <p class="text-left color-white f-20">{{riskpal.content1}}</p>
   </div>

   <div class="col-lg-12">
   <h2 class="text-left cyen-color f-30">{{riskpal.solution}}</h2>
   <p class="text-left color-white f-20">{{riskpal.content2}}</p>
   </div>

   <div class="col-lg-6 pt-100">
       <img src="../../assets/images/{{riskpal.riskstudy}}" class="img-fluid n2sstudy">
     </div>
     <div class="col-lg-6 pt-100">
         <img src="../../assets/images/{{riskpal.riskstudy2}}" class="img-fluid n2sstudy">
       </div>
   <div class="col-lg-12 pt-50 pb-100">
     <img src="../../assets/images/{{riskpal.riskstudy1}}" class="img-fluid riskstudy">
   </div>



   </div>
   </div>
   </section>
