<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading">
      <h2 class="text-center color-white f-26">ABOUT SOUQBOX – OUR STORY, MISSION & FUTURE OUR BACKSTORY</h2>
      </div>
     </div>
</div>
</section>

<section class="news-section dark-grey pt-20 pb-150">
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-30">

      <p class="text-left color-white f-18">When Campbell Murray & Mike Bagshaw set up a digital market for the food industry in 2014, the founding team decided to build the technology from scratch as they couldn’t find a platform solution to meet their B2B trading needs. Campbell & Mike thought that there must be other B2B trading companies that need a platform to launch their online marketplace</p>
       <p class="text-left color-white f-18">That idea became SouqBox and was launched in 2017 after a flagship customer with a clear requirement commissioned SouqBox to build a solution.</p>
      </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">THE OPPORTUNITY AND OUR SOLUTION</h2>
      <p class="text-left color-white f-18">The Internet has already changed our buying behaviour and expectations in the consumer world. Even if your business is not yet online you have probably used a digital marketplace like Amazon, Uber, Airbnb or eBay. Marketplaces are different from traditional e-commerce as they serve multiple sellers and multiple buyers.</p>
      <p class="text-left color-white f-18">It’s fair to say that B2B trading is some way behind B2C in the digital marketplace arena. As the decision-makers in business evolve through, we are seeing more and more customers that live a digital life as a consumer and expect the same benefits in their business lives.</p>
     <p class="text-left color-white f-18">Did you know 40% of e-commerce shoppers now turn to Amazon first when looking for a product, imagine the growth your business could experience if you could access a similar number of potential buyers from your industry?</p>
     </div>
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">SOUQBOX DESIGNED FOR THE SPECIFIC REQUIREMENTS OF B2B TRADING</h2>
      <p class="text-left color-white f-18">With a SouqBox digital marketplace platform that can be possible. There are other marketplace solutions available but our platform has been designed and built from the ground up to be focused on the specific needs of businesses who specialize in B2B trading.</p>
     <p class="text-left color-white f-18">The B2B economy differs from B2C because everything is price negotiable. This means that for a marketplace to work, it must be an offer based trading platform. That is what the SouqBox platform has been designed to do.</p>
      <p class="text-left color-white f-18">If you take a free demo of our platform you’ll find functionality such as the ability to negotiate and order in different quantities which are fundamental to the way B2B businesses operate.</p>
</div>
  <div class="col-lg-12">
  <h2 class="text-left cyen-color f-26">OUR MISSION</h2>
  <p class="text-left color-white f-18">We are working towards expanding our platform to become the marketplace of choice for B2B trading business. We aim to be help businesses who may not currently manage an online presence have the capability to quickly and efficiently launch a fully branded 3rd party B2B marketplace.</p>
 </div>
 <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">WHAT WE’VE ACHIEVED SO FAR…</h2>
      <p class="text-left color-white f-18">Although SouqBox is a fairly recent concept we have spent a great deal of time and attention designing and building a platform that will meet our clients’ requirements. Already sales are being made through the SouqBox platform and we are receiving very positive feedback in terms of both buyer and seller experiences.</p>
     </div>
   <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">THE FUTURE FOR SOUQBOX</h2>
      <p class="text-left color-white f-18">The next step for SouqBox is to build on our early success, expand the platform into other verticals, drive efficiencies into the platform plus we have a plan to develop the platform architecture to include more customization and bespoke features.</p>
     </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">YOUR INVITE TO COME ALONG FOR THE JOURNEY</h2>
      <p class="text-left color-white f-18">We believe we are on the cusp of a new generation of specialist B2B marketplaces as business buyers need specialist service and the ability to negotiate. SouqBox is powering that revolution and it has already started. This is especially relevant for circular economy models where price is more elastic.</p>
      <p class="text-left color-white f-18">If your industry needs an online marketplace, or you are interested in circular economy trading, we’d love to hear from you so you can email us and we can set up an initial chat to explore how we can help.</p>

     </div>
    </div>
  </div>
</section>

