
<section class="bg-gray pt-50 text-center how-it-work">
  <div class="container px-xl-0">
    <div class="mw-800 video-section">
    <h4 class="text-center f-30 medium cyen-color pb-50">{{howitwork.videotitle}}</h4>
    <!-- Call to action -->

<div class="video-model">
  <button id="myBtn"><img src="../../assets/images/play-icon.svg"></button>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="video-container">
      <iframe  width="400" height="300" src="https://www.youtube.com/embed/g0lDW9wFnqY"
      frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

</div>
  </div>
</section>
<section class="bg-gray pt-50 pb-45 ">
  <div class="container px-xl-0">

  <div class="row">
  <div class="col-lg-12">
  <h1 class="big-font text-left color-white medium">Old dogs,<pre></pre> <span class="cyen-color">new tricks.&nbsp;</span>
   <a routerLink="/Contact" class="souq-btn2">I Want in</a></h1>
  </div>

</div>
    </div>
</section>
<section class="orange-bg pt-80 pb-80">
  <div class="container px-xl-0">

   <div class="row">
 <div class="col-lg-2"></div>
 <div class="col-lg-8 mb-10 trust">
<div class="how-it-work-box">
 <div class="row">
 <div class="col-lg-5 dollar-trillion">
<h4 ><span class="dollar">$</span>{{howitwork.number}}</h4>
<div class="trillion">{{howitwork.trillion}}</div>
</div>
<div class="col-lg-7">
 <p>{{howitwork.text}}</p>
</div>
</div>
</div>
</div>

<div class="col-lg-2"></div>
</div>

    <div class="row pt-100">
    <div class="col-lg-12">
  <h1 class="big-font text-left color-gray medium">Don't just run</h1>
  <h1 class="big-font text-left color-gray medium">with the pack,</h1>
   <h1 class="color-white big-font text-left medium">lead.
   <a routerLink="/Contact" class="souq-btn2">I Want in</a> </h1>
    </div>
    </div>
  </div>
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-4 mb-30"><img src="../../assets/images/testimonial.png" alt="image"
           class="img-fluid radius_full" />
      </div>
          <div class="col-lg-8 mb-30 mt-20">
      <h2 class="f-30 color-white text-left pb-20">{{howitwork.headline}}</h2>
      <p class="text-left color-white f-26">{{howitwork.description}}</p>
<h6 class="text-right cyen-color f-22 regular font-italic">{{howitwork.client}}</h6>
      </div>
    </div>
  </div>
</section>

