<section class="bg-gray pt-50 text-center how-it-work">
    <div class="container px-xl-0">
<div class="row">
  <div class="col-lg-12">
      <div class="fusion-text">
        <h2 class="pb-30">SouqBox Privacy &amp; Cookie Policy</h2>
        <ol>
        <li>OUR APPROACH TO PRIVACY</li>
        <li>Souqbox, Inc. (“Souqbox”, “we”, “our”, or “us”) is committed to protecting your privacy. This Privacy Policy sets out how we collect, store, process, transfer, share and use data that identifies or is associated with you (“personal information”) and information regarding our use of cookies and similar technologies.</li>
        <li>SouqbBox provides web-based software that allow customers to: trade using digital marketplace platforms and use compliant third party tools to automate marketing activities to send relevant communications to subscribers via our websites (our “Website”) located at&nbsp;<a href="https://www.leadpages.net/">souqbox.net</a>.</li>
        <li>This Privacy Policy applies to our Website and related “Services”.</li>
        <li>Before accessing our Websites or using the Services, please ensure that you have read and understood our collection, storage, use and disclosure of your personal information as described in this Privacy Policy.</li>
        <li>Souqbox is the data controller of the personal information we hold about you.</li>
        <li>PERSONAL INFORMATION WE COLLECT ABOUT YOU AND HOW WE USE IT</li>
        <li>We process personal information about individuals that are our direct customers and, where our customer is a business or similar entity, individuals that are our customer’s employees, agents and other representatives. These individuals about whom we collect personal information are referred to as “you” throughout this Privacy Policy.</li>
        <li>We collect personal information about you when you voluntarily submit information directly to us when you access our Websites or use the Services. This can include information you provide to us when you register for an account, fill in a form, correspond with us via the Website, phone, email or otherwise, subscribe to our mailing lists, newsletters or other forms of marketing communications, respond to surveys or use some other feature of the Services as available from time to time.</li>
        <li>If you choose not to provide personal information, we may not be able to provide the Services to you or respond to your other requests.</li>
        <li>Appendix 1sets out the categories of personal information we collect about you and how we use that information. The table also lists the legal basis which we rely on to process the personal information, the categories of recipients of the personal information and information as to how we determine applicable retention periods.</li>
        <li>We also automatically collect personal information about you indirectly about how you access and use the Services and information about the device you use to access the Services.</li>
        <li>Appendix 2sets out the categories of personal information we collect about you automatically and how we use that information. The table also lists the legal basis which we rely on to process the personal information, the categories of recipients of the personal information and information as to how we determine applicable retention periods.</li>
        <li>We may link or combine the personal information we collect about you and the information we collect automatically. This allows us to provide you with a personalised experience regardless of how you interact with us.</li>
        <li>We may anonymise and aggregate any of the personal information we collect, including information about individuals that are your subscribers, website visitors or customers (so that it does not directly identify you or them). We may use anonymised information for purposes that include testing our IT systems, research, data analysis, improving the Services and developing new products and features. We may also share such anonymised information with others.</li>
        <li>CUSTOMER DATA WE MAY PROCESS THROUGH THE PROVISION OF OUR SERVICE</li>
        <li>Please note that, during the provision of our Services, we may also process information about individuals that are subscribers, website visitors or customers of our customers (which we call “Customer Data”).</li>
        <li>The relevant customer will have its own privacy policy which will apply to Customer Data and any questions should be directed to that customer.</li>
        <li>MARKETING AND ADVERTISING</li>
        <li>From time to time with your consent we may contact you with relevant information about the Services. Most messages we send will be by email. For some messages, we may use personal information we collect about you to help us determine the most relevant information to share with you.</li>
        <li>If you do not want to receive such messages from us, you may opt out by clicking on the unsubscribe link at the bottom of our emails. Please note that you are not permitted to unsubscribe or opt-out of non-promotional messages regarding your account, such as account verification, changes or updates to features of the Services, or technical or security notices.</li>
        <li>STORING AND TRANSFERRING YOUR PERSONAL INFORMATION</li>
        <li>Security. We implement appropriate technical and organisational measures to protect your personal information against accidental or unlawful destruction, loss, change or damage. All personal information we collect will be stored on secure servers. All electronic transaction entered into via our Website will be protected by SSL encryption technology. Where you register for an account on the Services, you are responsible for maintaining your account’s security as more specifically explained in our Terms of Service.</li>
        <li>International Transfers of your Personal Information. The personal information we collect may be transferred to and stored in countries outside of the jurisdiction you are in where we and our third party service providers have operations. If you are located in the European Union (“EU”), your personal information may be processed outside of the EU including in the United States; these international transfers of your personal information are necessary for the performance of our agreement with you in order to provide the Services.</li>
        <li>YOUR RIGHTS IN RESPECT OF YOUR PERSONAL DATA</li>
        <li>This section applies if you are located in the EU.</li>
        <li>In accordance with applicable privacy law, you have the following rights in respect of your personal information that we hold:</li>
        <li>Right of access and portability. The right to obtain access to and to receive your personal information.</li>
        <li>Right to rectification. The right to obtain rectification of your personal information without undue delay where that personal information is inaccurate or incomplete.</li>
        <li>Right to erasure. The right to obtain the erasure of your personal information without undue delay in certain circumstances, such as where the personal information is no longer necessary in relation to the purposes for which it was collected or processed.</li>
        <li>Right to restriction. The right to obtain the restriction of the processing undertaken by us on your personal information in certain circumstances, such as where the accuracy of the personal information is contested by you, for a period enabling us to verify the accuracy of that personal information.</li>
        <li>Right to object. The right to object, on grounds relating to your particular situation, to the processing of your personal information, and to object to processing of your personal information for direct marketing purposes, to the extent it is related to such direct marketing.</li>
        <li>If you wish to exercise one of these rights, please contact us using the contact details at the end of this Privacy Policy.</li>
        <li>You also have the right to lodge a complaint to your local data protection authority. Further information about how to contact your local data protection authority is available at&nbsp;<a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</li>
        <li>COOKIES AND SIMILAR TECHNOLOGIES</li>
        <li>When you use our Service, read our emails, or otherwise engage with us through a computer or mobile device, we and our third party service providers, automatically collect information about how you access and use the Service and information about the device you use to access the Service. We use this information to enhance and personalise your user experience, to monitor and improve our websites and services, and for other internal purposes.</li>
        <li>Appendix 2sets out the categories of personal information we collect about you automatically and how we use that information.</li>
        <li>We typically collect this information through a variety of tracking technologies, including cookies, Flash objects, web beacons, embedded scripts, location-identifying technologies, and similar technology (collectively, “tracking technologies”). We may combine this information with other personal information we collect directly from you.</li>
        <li>Our Websites use cookies to distinguish you from other users of our Websites. Cookies are pieces of code that allow for personalisation of our Websites by saving your information such as user ID and other preferences. A cookie is a small data file that we transfer to your device’s hard disk (such as your computer or smartphone) for record-keeping purposes.</li>
        <li>We use the following types of cookies:</li>
        <li>Strictly necessary cookies. These are cookies that are required for the essential operation of our Websites such as to authenticate users and prevent fraudulent use.</li>
        <li>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our Websites when they are using it. This helps us to improve the way our Websites work, for example, by ensuring that users are finding what they are looking for easily.</li>
        <li>Functionality cookies. These are used to recognise you when you return to our Websites. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</li>
        <li>Targeting cookies. These cookies record your visit to our Websites, the pages you have visited and the links you have followed. We will use this information to make our Websites and the advertising displayed on them more relevant to your interests. We may also share this information with third parties for this purpose.</li>
        <li>We may collect analytics data, or use third-party analytics tools such as Google Analytics, to help us measure traffic and usage trends for the Service and to understand more about the demographics of our users. You can learn more about Google’s practices at&nbsp;<a href="https://policies.google.com/privacy/partners">https://policies.google.com/privacy/partners</a>, and view its currently available opt-out options at&nbsp;<a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.</li>
        <li>We may also work with third party partners to employ technologies, including the application of statistical modelling tools, which permit us to recognize and contact you across multiple devices.</li>
        <li>Although we do our best to honor the privacy preferences of our users, we are unable to respond to Do Not Track signals set by your browser at this time.</li>
        <li>The cookies we use are designed to help you get the most from our Websites but if you do not wish to receive cookies, most browsers allow you to change your cookie settings. Please note that if you choose to refuse cookies you may not be able to use the full functionality of our Websites. These settings will typically be found in the “options” or “preferences” menu of your browser. In order to understand these settings, the following links may be helpful, otherwise you should use the “Help” option in your browser for more details.</li>
        <li><a href="https://support.microsoft.com/en-us/products/windows">Cookie settings in Internet Explorer</a></li>
        <li><a href="http://support.mozilla.org/en-US/kb/cookies">Cookie settings in Firefox</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Cookie settings in Chrome</a></li>
        <li><a href="https://support.apple.com/kb/PH5042?locale=en_GB">Cookie settings in Safari web</a>and&nbsp;<a href="https://support.apple.com/en-gb/HT201265">iOS</a></li>
        <li>Deleting cookies does not delete non-cookie technologies such as Local Storage Objects (LSOs) such as Flash objects and HTML5. You can learn more about Flash objects – including how to manage privacy and storage settings for Flash cookies – on Adobe’s website or by clicking&nbsp;<a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">here</a>. Various browsers may offer their own management tools for removing HTML5 LSOs.</li>
        <li>THIRD PARTY DATA COLLECTION AND INTEREST BASED ADVERTISING</li>
        <li>We participate in interest-based advertising and use third party advertising companies to serve you targeted advertisements based on your browsing history. We permit third party online advertising networks, social media companies and other third party services to collect information about your use of our websites and mobile apps over time so that they may play or display ads on our Service, on other websites, apps or services you may use, and on other devices you may use. Typically, though not always, the information used for interest-based advertising is collected through cookies or similar tracking technologies, which recognize the device you are using and collect information, including click stream information, browser type, time and date you visited the site and other information. We may share a common account identifier (such as an email address or user ID) with our third party advertising partners to help identify you across devices.</li>
        <li>We and our third party partners use this information to make the advertisements you see online more relevant to your interests, as well as to provide advertising-related services such as reporting, attribution, analytics and market research.</li>
        <li>To learn about interest-based advertising and how you may be able to opt-out of some of this advertising, you may wish to visit the Network Advertising Initiative’s online resources, at&nbsp;<a href="http://www.networkadvertising.org/choices">http://www.networkadvertising.org/choices</a>, the DAA’s resources at&nbsp;<a href="http://www.aboutads.info/choices">aboutads.info/choices</a>and/or Your Online Choices at&nbsp;<a href="http://www.youronlinechoices.com/uk">www.youronlinechoices.com/uk</a>. You may also be able to limit interest-based advertising through the settings on your mobile device by selecting “limit ad tracking” (iOS) or “opt-out of interest based ads” (Android). You may also be able to opt-out of some – but not all – interest-based ads served by mobile ad networks by visiting&nbsp;<a href="http://youradchoices.com/appchoices">http://youradchoices.com/appchoices</a>&nbsp;and downloading the mobile AppChoices app.</li>
        <li>Please note that opting-out of receiving interest-based advertising through the NAI’s and DAA’s or Your Online Choices online resources will only opt-out a user from receiving interest-based ads on that specific browser or device, but the user may still receive interest-based ads on his or her other devices. You must perform the opt-out on each browser or device you use.</li>
        <li>Furthermore, some of these opt-outs may not be effective unless your browser is set to accept cookies. If you delete cookies, change your browser settings, switch browsers or computers, or use another operating system, you will need to opt-out again.</li>
        <li>LINKS TO THIRD PARTY SITES</li>
        </ol>
        <p>Our Websites may, from time to time, contain links to and from third party websites. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for their policies. Please check the individual policies before you submit any information to those websites.</p>
        <ol start="61">
        <li>OUR POLICY TOWARDS CHILDREN</li>
        </ol>
        <p>The Services are intended to be used by adults and we do not knowingly collect personal information from children under 13. If you become aware that your child has provided us with personal information, please contact us using the details below so that we can take steps to remove such information and terminate any account your child has created with us.</p>
        <ol start="62">
        <li>CHANGES TO THIS POLICY</li>
        </ol>
        <p>We may update this Privacy Policy from time to time and so you should review this page periodically. When we change this Privacy Policy in a material way, we will update the “last modified” date at the end of this Privacy Policy. Changes to this Privacy Policy are effective when they are posted on this page.</p>
        <ol start="63">
        <li>NOTICE TO YOU</li>
        </ol>
        <p>If we need to provide you with information about something, whether for legal, marketing or other business related purposes, we will select what we believe is the best way to get in contact with you. We will usually do this through email or by placing a notice on our Websites. The fact that we may send notices to you will not stop you from being able to opt out of certain types of contact as described in this Privacy Policy.</p>
        <ol start="64">
        <li>CONTACTING US</li>
        <li>If you are based in the EU, our representative is Souqbox (UK) &gt;, whose registered address is . Regardless of your location, any questions, comments and requests regarding this Privacy Policy are welcome and should be addressed <u><a href="mailto:campbell@souqbox.net">campbell@souqbox.net</a></u>as appropriate depending on how you are using our Services.</li>
        <li>This Privacy Policy was last modified on 14 May 2018.</li>
        </ol>
        <p>APPENDIX 1 – PERSONAL INFORMATION WE COLLECT WHEN YOU USE THE SERVICES</p>
        <ol>
        <li>CATEGORIES OF PERSONAL INFORMATION
        <ul>
        <li>CONTACT INFORMATION AND BASIC PERSONAL DETAILS</li>
        </ul>
        </li>
        </ol>
        <p>Such as your full name, phone number, postal address, e-mail address, zip code.</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>We use this information to:</p>
        <ul>
        <li>communicate with you, including sending statements and invoices, communications, news, alerts and marketing communications;</li>
        <li>deal with enquiries and complaints made by or about you relating to the Services;</li>
        <li>authentication purposes;</li>
        <li>create customer accounts and operate, maintain and provide to you the features and functionality of the Services.</li>
        </ul>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for:</p>
        <ul>
        <li>the performance of a contract and to take steps prior to entering into a contract;</li>
        <li>our legitimate interests, namely administering the Services, for marketing purposes and communicating with users; and</li>
        <li>to comply with certain legal obligations.</li>
        </ul>
        <ul>
        <li>WEBSITE, BUSINESS AND MARKETING INFORMATION</li>
        </ul>
        <p>Such as company website, IP address, current email list size, e-commerce software in use, email marketing software, product usage information, demographic data, data about customer’s 3rd party services, other business information (Facebook ad spend, status of business, industry, business goals).</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>We use this information to:</p>
        <ul>
        <li>operate, maintain and provide to you the features and functionality of the Services;</li>
        <li>determine relevant advertising / marketing activities.</li>
        </ul>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for:</p>
        <ul>
        <li>the performance of a contract and to take steps prior to entering into a contract; and</li>
        <li>our legitimate interests, namely administering the Services and for marketing purposes.</li>
        </ul>
        <ul>
        <li>PAYMENT INFORMATION</li>
        </ul>
        <p>Details such as your credit card information, account information, billing address and related information.</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>We use this information to facilitate payment for use of the Services and to detect and prevent fraud.</p>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for the performance of our contract with you and our legitimate interests, namely the detection and prevention of fraud.</p>
        <ul>
        <li>CORRESPONDENCE AND COMMENTS</li>
        </ul>
        <p>When you contact us directly, e.g. by email, phone, mail, when you post on message boards, blogs or complete an online form or provide quality survey input, we will record your comments and opinions.</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>To address your questions, issues and concerns and improve the Services, to determine products and services that may be of interest to you and to send you news, alerts and marketing communications in accordance with your marketing preferences.</p>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for our legitimate interests, namely communicating with users and for marketing purposes.</p>
        <ul>
        <li>ALL PERSONAL INFORMATION SET OUT ABOVE
        <ul>
        <li>How we use it</li>
        </ul>
        </li>
        </ul>
        <p>We will use all the personal information we collect to prevent and detect fraud, to operate, maintain and provide to you the features and functionality of the Services, to communicate with you, to monitor and improve the Services, our Website and business, and to help us develop new products and services.</p>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for our legitimate interest, namely to administer and improve the Services, our Websites, our business and develop new services.</p>
        <ol start="2">
        <li>CATEGORIES OF RECIPIENTS</li>
        </ol>
        <p>As required in accordance with how we use it, we will share your personal information with the following:</p>
        <ul>
        <li>SERVICE PROVIDERS AND ADVISORS</li>
        </ul>
        <p>Third party vendors and other service providers that perform services for us, on our behalf, which may include providing mailing or email services, tax and accounting services, payments processing, data enhancement services, fraud prevention, web hosting, or providing analytic services.&nbsp;Your personal information is never transferred to any third-party for the purposes of re-marketing to you.</p>
        <ul>
        <li>PURCHASERS AND THIRD PARTIES IN CONNECTION WITH A BUSINESS TRANSACTION</li>
        </ul>
        <p>Personal information may be disclosed to third parties in connection with a transaction, such as a merger, sale of assets or shares, reorganisation, financing, change of control or acquisition of all or a portion of our business.</p>
        <ul>
        <li>LAW ENFORCEMENT, REGULATORS AND OTHER PARTIES FOR LEGAL REASONS</li>
        </ul>
        <p>Third parties as required by law or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) enforce our Terms of Service or to protect the security or integrity of our Services or Websites; and/or (c) exercise or protect the rights, property, or personal safety of Souqbox, our customers or others.</p>
        <ol start="3">
        <li>RETENTION PERIOD</li>
        </ol>
        <p>For no longer than necessary for the purposes set out and in accordance with our legal obligations and legitimate business interests.</p>
        <p>APPENDIX 2 – PERSONAL INFORMATION COLLECTED AUTOMATICALLY</p>
        <ol>
        <li>CATEGORIES OF PERSONAL INFORMATION
        <ul>
        <li>INFORMATION ABOUT HOW YOU ACCESS AND USE THE SERVICES</li>
        </ul>
        </li>
        </ol>
        <p>For example, the website from which you came and the website to which you are going when you leave our Websites, how frequently you access the Services, the time you access the Services and how long you use them for, whether you open emails or click the links contained in emails, whether you access the Services from multiple devices, and other actions you take on the Services.</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>We use this information to:</p>
        <ul>
        <li>present the Services to you on your device;</li>
        <li>determine news, alerts and other products and services that may be of interest to you for marketing purposes; and</li>
        <li>monitor and improve the Services and our business, and to help us develop new products and services.</li>
        </ul>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for our legitimate interests, namely: to tailor the Services to the user and to improve the Services generally; to monitor and resolve issues; for marketing purposes; to communicate with users; to contact users; and for the detection and prevention of fraud.</p>
        <ul>
        <li>INFORMATION ABOUT YOUR DEVICE</li>
        </ul>
        <p>We also collect information about the computer, tablet, smartphone or other electronic device you use to connect to the Services. This information can include details about the type of device, unique device identifying numbers, operating systems, browsers and applications connected to the Services through the device, information about the server upon which the Services operate, your Internet service provider or mobile network, your IP address.</p>
        <ul>
        <li>How we use it</li>
        </ul>
        <p>We use this information to:</p>
        <ul>
        <li>enable the Services to be presented to you on your device;</li>
        <li>operate, maintain and provide to you the features and functionality of the Services;</li>
        <li>monitor and improve the Services and business, and to help us develop new products and services.</li>
        </ul>
        <ul>
        <li>Legal basis for the processing</li>
        </ul>
        <p>The processing is necessary for our legitimate interests, namely: to tailor the Services to the user and to improve the Services generally; to monitor and resolve issues; for marketing purposes; to communicate with users; to contact users; and for the detection and prevention of fraud.</p>
        <ol start="2">
        <li>CATEGORIES OF RECIPIENTS</li>
        </ol>
        <p>As required in accordance with how we use it, we will share your personal information with the following:</p>
        <ul>
        <li>SERVICE PROVIDERS AND ADVISORS</li>
        </ul>
        <p>Third party vendors and other service providers that perform services for us, on our behalf, which may include providing mailing or email services, tax and accounting services, payments processing, data enhancement services, fraud prevention, web hosting, or providing analytic services.&nbsp;Your personal information is never transferred to any third-party for the purposes of re-marketing to you.</p>
        <ul>
        <li>PURCHASERS AND THIRD PARTIES IN CONNECTION WITH A BUSINESS TRANSACTION</li>
        </ul>
        <p>Personal information may be disclosed to third parties in connection with a transaction, such as a merger, sale of assets or shares, reorganisation, financing, change of control or acquisition of all or a portion of our business.</p>
        <ul>
        <li>LAW ENFORCEMENT, REGULATORS AND OTHER PARTIES FOR LEGAL REASONS</li>
        </ul>
        <p>Third parties as required by law or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) enforce our Terms of Service or to protect the security or integrity of our Services or Websites; and/or (c) exercise or protect the rights, property, or personal safety of Souqbox, our customers or others.</p>
        <ol start="3">
        <li>RETENTION PERIOD</li>
        </ol>
        <p>For no longer than necessary for the purposes set out and in accordance with our legal obligations and legitimate business interests.</p>
        </div>


</div>
</div>

      </div>
      </section>
