
<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading"><h3>10 Industries Perfect for B2B Marketplaces</h3></div>
      <img src="../../assets/images/Industries.png" alt="image" class="img-fluid news-single-img" />
      <div class="news-button-main">
           <a routerLink="/How-you-can-join-the-b2b-revolution">
          <button class="news-buttons left">
          <img src="../../assets/images/slick-arrow-left.svg" width="10" alt="icon" />
           Previous
           </button></a>
           <a routerLink="/Why-the-b2b">
          <button id="Buttons" class="news-buttons">
          Next <img src="../../assets/images/slick-arrow-right.svg" width="10" alt="icon" />
          </button></a>
        </div>
      </div>
</div>
</section>
<section class="news-section dark-grey pt-20 pb-150">
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-80">
      <p class="text-left color-white f-18">Online marketplaces, also known as platform companies, are sprouting up everywhere and redefining business in every industry. “The Uber of ….” has become shorthand for tech startups looking to redefine the way everything is delivered.</p>
       <p class="text-left color-white f-18">However, B2B trading has essential differences with B2C especially the requirement to negotiate on price and order in different quantities. That’s why if you’re a B2B enterprise and are interested in launching a marketplace platform you need a solution that’s been designed from day one with built-in functionality and capability – like SouqBox!</p>
      </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">B2B Traders Need Marketplace Solutions With Specific Functionality</h2>
      <p class="text-left color-white f-18">We currently outsource our tech development to people we know and trust as that gives us the flexibility we need. However, as we grow, our clients are going to require an increasing level of product development and service.</p>
      <p class="text-left color-white f-18">It is our goal to build a full stack core team in-house and this begins with this key CTO role. This person will lead the initial charge on the SouqBox platform offering and be tasked with getting it ready for scale. When the timing is right we can begin hiring a team of coders for front and back end and leverage our tech partners globally as much as we need on that journey.</p>
      <p class="text-left color-white f-18">With a particular interest in circular economy models, we have created a list of industries where we believe there is potential for B2B marketplaces to transform and lead change:</p>
      </div>
  <div class="container b2b-form">
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">B2B Businesses Sectors With Marketplace Opportunities</h2>
       <ul>
<li>Telecoms & technology equipment</li>
<li>WEEE & Battery</li>
<li>Construction materials & equipment</li>
<li>Automotive parts (including commercial vehicles)</li>
<li>Aviation & Marine parts</li>
<li>Textiles & apparel</li>
<li>Oil & Gas exploration equipment</li>
<li>Office furniture, shop fitting & hotel refurbishment</li>
<li>Pharma, medical & Lab equipment</li>
<li>Wine and spirits</li>
</ul>
      </div> </div>
   <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Book Your SouqBox Demo</h2>
      <p class="text-left color-white f-18">If your industry needs an online marketplace, or you are interested in circular economy trading, we’d be interested in talking to you. Please drop us a line<a href="http://souqbox.net/" target="_blank"> here</a></p>
     </div>
    </div>

  </div>
</section>

