<section class="banner pb-3">
<div class="container">
 <div class="news-img-main">
      <div class="news-heading"><h3>Startup CTO Opportunity at Souqbox</h3></div>
      <img src="../../assets/images/CTO.png" alt="image" class="img-fluid news-single-img" />
      <div class="news-button-main">
      <a routerLink="/Newbury-top-tech-town-uk">
          <button class="news-buttons left">
          <img src="../../assets/images/slick-arrow-left.svg" width="10" alt="icon" />
           Previous
           </button></a>
        </div>
      </div>
</div>
</section>
<section class="news-section dark-grey pt-20 pb-150">
  <div class="container px-xl-0">
    <div class="row">

          <div class="col-lg-12 mb-30 mt-50">
      <p class="text-left color-white f-18">SouqBox are looking to appoint a technical leader to join our founding team.
    This is a great opportunity for someone looking to take the next step of being a startup CTO.
    This is a key appointment required to drive the technological story for us as we continue
    on the journey to becoming the global market leader within the B2B Marketplace & e-commerce platform category.</p>
       <p class="text-left color-white f-18">Our 2 founders have experience of building and operating a B2B online market and have set up Souqbox to leverage that knowledge and platform for clients seeking to launch their own marketplace and capitalise on this fast developing opportunity in B2B online sales.</p>
      </div>
      <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">Could You Lead the Charge?</h2>
      <p class="text-left color-white f-18">We currently outsource our tech development to people we know and trust as that gives us the flexibility we need. However, as we grow, our clients are going to require an increasing level of product development and service.</p>
      <p class="text-left color-white f-18">It is our goal to build a full stack core team in-house and this begins with this key CTO role. This person will lead the initial charge on the SouqBox platform offering and be tasked with getting it ready for scale. When the timing is right we can begin hiring a team of coders for front and back end and leverage our tech partners globally as much as we need on that journey.</p>
      <a href="http://souqbox.co/cto-opportunity-tech-jobs-berkshire/" target="_blank">
        <p class="text-left color-orange f-18">For further details of this startup CTO opportunity and full job description please click here</p></a>
      </div>
  <div class="col-lg-12">
      <h2 class="text-left cyen-color f-26">A CTO with Vision</h2>
      <p class="text-left color-white f-18">We are not seeking the world’s most skilled coder or deep tech CTO, but rather someone who has a great vision for our journey and can help lead that especially within the customer experience. That means –</p>
      <ul>
<li class="color-white">A strong interest/background on product dev/design/UI-UX would be the most important thing to have.</li>
<li class="color-white">A love of working closely with clients and turning their wishlist into deliverables by collaborating with them so closely that you are like one of their team. &nbsp;</li>
<li class="color-white">Rock solid project delivery skills including Agile and SCRUM based PM skills</li>
<li class="color-white">Experience of the following code base &amp; tech would be good – Python/Django, NodeJS, MEAN stack, Mungo, SQL.</li>
<li class="color-white">Ideally some interest or experience in Blockchain (language neutral). We are interested in developing this within a smart contract model for our trading platform.</li>
<li class="color-white">A can do, team-first attitude to everything and the kind of person who doesn’t bring a problem to the table without a solution suggestion. &nbsp;</li>
<li class="color-white">A passion for learning and pushing the boundaries for yourself and those around you.</li>
<li class="color-white">The skill to know what is really important in a project and to get straight to that point in a &nbsp;way that takes the team with you.</li>
<li class="color-white">A willingness to come on this journey with us and not just do a job. We are seeking a co-founding partner in this role with equity available. It’s much more than just a job. &nbsp;&nbsp;</li>
</ul>
      </div>
  <div class="col-lg-12">
  <p class="text-left color-white f-18">If you are interested in stepping up to the challenges of being a startup CTO, you want to have a shot at something that could be really big and the above description sounds like you, we would love to talk to you.
  You can find<a href="https://souqbox.co/cto-opportunity-tech-jobs-berkshire/" target="_blank">  full details of the role</a>,
  <a href="https://souqbox.co/cto-opportunity-tech-jobs-berkshire/" target="_blank"> background to our business and the opportunity ahead by clicking here</a> alternatively you can email your details directly to <a href="mailto:campbell@souqbox.net">campbell@souqbox.net</a>.</p>

   </div>
    </div>
  </div>
</section>

